:root {
    --primary: #7C9473;
    --secondary: #CFDAC8;
    --tertiary: #b2c2c1;
    --quatrinary: #CDD0CB;
    --light: #e1f5f4;
    --dark: grey;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --spacing-one: calc(1rem * 0.25);
    --spacing-two: calc(1rem * 0.5);
    --spacing-three: 1rem;
    --spacing-four: calc(1rem * 1.5);
    --spacing-five: calc(1rem * 3);
}
  
  * {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:1000;
    background-color: gray;
}

.logo {
    background-color: gray;
}
.nav {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-items: center;
   justify-content: center;
}

.nav-item {
    margin: 0 1rem;
    background-color: gray;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
    padding: 30px;
}

.footer-list {
    list-style-type: none;
}

.footer-item {
    margin: 0 1rem;
}
/* app.jsx page */
.main-background {
    background-color: var(--tertiary);
}

.header {
    background-color: var(--dark);
}

.footer {
    background-color: var(--dark);
    left: 0px;
    height: 30px;
    padding: 30px;
    z-index:1000 
}
/* create post page */
.create-post-cont {
    display: block;
    width: 50%;
    height: 80%;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    margin-top: 160px;
    background-color: var(--tertiary);

}

.create-post-cont form {
    display:block;
    text-align: center;
    align-content: center;
    margin:  0 auto;
}

.create-post-cont form label {
    display: block;
}

.create-post-cont form .text-area textarea {
    display: block;
    width:80%;
    margin: 0 auto 25px;
    border-radius: 4px;
    background-color: var(--secondary)
}

.btn {
    margin-bottom: 25px;
    margin-right: 25%;
    margin-left: 75%;
    width: 125px;
    height: 25px;
    background-color: var(--secondary);
    border-radius: 4px;
    text-decoration: none;
    border-color: var(--primary);
}

.charcount {
    margin: 25px;
}
/* homepage */
.home-list-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 160px;
}

.list-body h3, p {
    color: black;
}

.link-preview {
    margin: 0 auto;
    padding: 10px;
}

/* dashboard */
.dashboard-container {
    padding-top: 160px;
    height: 100%;
    margin: 0;
}

.dashboard-posts {
    height: 100%;
    bottom: 0;
    margin: 0;
}

/* singlepost */
.single-post-container {
    padding-top: 160px;
}

/* login */
.login-container {
    padding-top: 160px;
}

/* Modal */
.modal {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.modal-main {
    padding: 2vw;
    position: fixed;
    text-align: center;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}
/* Modal */

@media (max-width: 375px) {
    .nav {
        flex-wrap: nowrap;
        font-size: small;
        display: flex;
        justify-content: flex-start;

    }

    .header {
        display: block;
        text-align: center;
    }

    .nav-item {
        margin: 3px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-size: small;
        z-index:1000;
    }

}