.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.nav {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-items: center;
   justify-content: center;
}

.nav-item {
    margin: 0 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;

}

.footer-list {
    list-style-type: none;
}

.footer-item {
    margin: 0 1rem;
}