:root {
    --primary: black;
    --secondary: black;
    --tertiary: black;
    --quatrinary: #CDD0CB;
    --light: #e1f5f4;
    --dark: #0c5959;
    --heading: #520120;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    --spacing-one: calc(1rem * 0.25);
    --spacing-two: calc(1rem * 0.5);
    --spacing-three: 1rem;
    --spacing-four: calc(1rem * 1.5);
    --spacing-five: calc(1rem * 3);
}
  
  * {
    box-sizing: border-box;
}


.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:1000;
    background-color: var(--dark);
}

.logo {
    background-color: var(--dark);
}
.nav {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-items: center;
   justify-content: center;
  
}

.nav-item {
    margin: 0 1rem;
    background-color: var(--dark);
}

.nav-item a {
    color: var(--heading);
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
    padding: 35px;
}


/* app.jsx page */
/* .main-background {
    background-color: var(--tertiary);
} */

.header {
    background-color: var(--dark);
}

.footer {
    background-color: var(--dark);
    left: 0px;
    height: 35px;
    padding: 35x;
    z-index:1000;
}

/* singlepost */
.single-post-container {
   padding-bottom: 200px;
}



.single-post-card {
    margin-left: 15%;
    margin-right: 30%;
    
    
}

.post-card {
    padding-bottom: 65px;
}

/* create post page */
.create-post-cont {
    display: block;
    width: 40%;
    height: 80%;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    margin-top: 10%;
    background-color: var(white);

}

.margin-top-sm {
    margin-top: 20px;
}

.create-post-cont form {
    display:block;
    text-align: center;
    align-content: center;
    margin:  0 auto;
}

.create-post-cont form label {
    display: block;
}

.create-post-cont form .text-area textarea {
    display: block;
    width:80%;
    margin: 0 auto 25px;
    border-radius: 4px;
    background-color: var(--heading);
    opacity: 0.8;
    color: white;
}


.btn {
    margin-bottom: 25px;
    width: 150px;
    height: 35px;
    background-color: var(--heading);
    border-radius: 4px;
    text-decoration: none;
    border-color: var(--heading);
}

.charcount {
    margin-left: 25px;
    font-size: 14px;
}

/* homepage */
.home-list-container {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
}

.list-body p {
    color: black;
}


.list-body h3, h4 {
    color: var(--heading);
    font-size:24px;
}

.link-preview {
    margin: 0 auto;
    padding: 10px;
   
}

/* .preview-box {
    height: 300px;
    width: 300px;
} */

/* dashboard */
.dashboard-container {
    padding-top: 160px;
    margin: 0;
    height: 100%;
}

.dashboard-list {
    margin: 0 auto;
}

.dashboard-post-container {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 100px;
}


/* singlepost */
.single-post-container {
    padding-top: 160px;
    /* height: 100vh; */
}

/* login */
.login-container {
    padding-top: 160px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.block-form-sections {
    display: block;
}

.login-form {
    padding: 30px;
}

.rules-container {
    margin-top: 10%;
    margin-left: 1%;
}

/* util */
.comment-p {
    font-size: 16px;
    color: black;
}

.comment-form textarea {
    display: block;
}

.description-p {
    font-size: 22px;
}

.main-header-font {
    font-size: 28px;
}
.header-font {
    color:#346751;
    font-size: 24px;
}

.padding-top {
    padding-top: 160px;
}
.light-color {
    color: var(--light);
}

/* Modal */
.modal {
    position: fixed !important;
    text-align: center !important;
    top: 0 !important;
    left: 0 !important;
    width:100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.6) !important;
}
.modal-main {
    padding: 2vw !important;
    position: fixed !important;
    text-align: center !important;
    background: white !important;
    width: 80% !important;
    height: auto !important;
    top:50% !important;
    left:50% !important;
    transform: translate(-50%,-50%) !important;
}
.display-block {
    display: block !important;
}
.display-none {
    display: none !important;
}
/* Modal */


@media only screen and (max-width: 375px) {

    .nav {
        margin-top: 15px;
        font-size: x-small;
    }

    .nav-item {
        margin: 0 12px;
    }

    .header {
      
       align-items: center;
       flex-wrap: nowrap;
       
    }

   

    .logo {
        height: 50px;
        width:auto;
    }

 

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        font-size: small;
        z-index:1000;
        padding-top: 30px;
      
    }

    .footer-made-by {
        padding-top: 15px;
        font-size: small;
    }

    .home-list-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 160px;
    }
    
    .padding-top {
        padding-top: 20px;
    }

    .home-list-container {
        padding-top: 30px;
    }
   
}



@media only screen and (max-width: 414px ) and (min-width: 376px) {
    
    .nav {
        font-size: small;
        justify-content: flex-start;
        
    }

    .header {
        
       align-content: stretch;
       align-items: flex-start;
       padding: 30px;
    }

    .nav-item {
        margin: 10px;
    }

    .logo {
        height: 50px;
        width:auto;
    }


    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        font-size: small;
        z-index:1000;
        padding-top: 30px;
      
    }

    .footer-made-by {
        padding-top: 15px;
        font-size: small;
    }
    
    .home-list-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 30px;
    }

    .padding-top {
        padding-top: 20px;
    }

  


}

 @media only screen and (max-width: 540px ) and (min-width: 415px) {
    
    .nav {
        flex-wrap: nowrap;
        font-size: medium;
       
        justify-content: flex-start;
        margin-top: 20px;

    }

    .header {
        
       align-content: center;
       align-items: center;
       
    }

    .nav-item {
        margin: 7px;
    }

    .logo {
        height: 60px;
        width:auto;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        font-size: small;
        z-index:1000;
        padding-top: 30px;
      
    }

    .footer-made-by {
        padding-top: 15px;
        font-size: small;
    }

  
    .home-list-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 30px;
    }

    .padding-top {
        padding-top: 20px;
    }

}   

 @media only screen and (max-width: 912px ) and (min-width: 541px) {
    
    .nav {
        flex-wrap: nowrap;
        font-size: large;
       
        justify-content: flex-start;
        margin-top: 20px;

    }

    .header {
        
       align-content: center;
       align-items: center;
       
    }

    .nav-item {
        margin: 7px;
    }

    .logo {
        height: 75px;
        width:auto;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        font-size: small;
        z-index:1000;
        padding-top: 30px;
      
    }

    .footer-made-by {
        padding-top: 15px;
        font-size: x-large;
    }

    .home-list-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 30px;
    }

    .padding-top {
        padding-top: 20px;
    }

  


}  


